* {
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  height: 100%;
}

.home {
  height: 100%;
  background-image: linear-gradient(to right top, #d16b6b, #da6a7f, #de6c95, #dd70ad, #d678c6, #e07ac6, #ea7bc6, #f37dc5, #ff7ea7, #ff878a, #ff9771, #fba95f);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .menu {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  animation: showw 1.5s alternate 1 forwards;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.home .menu h1 {
  font-size: 30pt;
  color: #134769;
  text-align: center;
}
.home .menu .btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.home .menu .btn .item {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}
.home .menu .btn .item:hover {
  background: rgba(19, 71, 105, 0.5);
}
.home .menu .btn .item:hover span {
  color: #ffffff;
}
.home .menu .btn .item:hover p {
  color: #ffffff;
}
.home .menu .btn .item span {
  color: #134769;
  font-size: 30pt;
}
.home .menu .btn .item p {
  font-size: 20pt;
  color: #134769;
}
@keyframes showw {
  to {
    opacity: 1;
  }
}

.sub {
  height: 100%;
  background-image: linear-gradient(to right top, #ad6bd1, #b070d5, #b375da, #b67ade, #b97fe2, #b57ee5, #b17de8, #ad7ceb, #9f75ef, #8e70f3, #7a6af7, #5f66fb);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.sub h1 {
  font-size: 25pt;
  color: #134769;
}
.sub .box {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub .box .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 80%;
}
.sub .box .tools > input {
  width: 220px;
  height: 45px;
  border: 1px #134769 solid;
  background: #ffffff;
  border-radius: 22px;
  text-align: center;
  font-size: 10pt;
}
.sub .box .tools .configs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
.sub .box .tools .configs .config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub .box .tools .configs .config h6 {
  font-size: 12pt;
  color: #771c1c;
  text-align: center;
}
.sub .box .tools .configs .config input {
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #134769;
  border-radius: 15px;
  margin: 45px 0px;
  border: 0px;
}
.sub .box .tools .configs .config button {
  width: 100px;
  border: 0px;
  background: #134769;
  color: #ffffff;
  border-radius: 10px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */